@mixin alert($color) {
  background: color($color, lightest);
  border-color: color($color, light);
  color: color($color, dark);
}

.alert {
  border-left: 3px solid transparent;
  margin: 1.5em 0;
  padding: 1em;

  a {
    color: inherit;
  }

  p {
    margin: 0;
  }

  &.-info {
    @include alert($blue);
  }

  &.-success {
    @include alert($green);
  }

  &.-warning {
    @include alert($orange);
  }

  &.-error {
    @include alert($red);
  }
}
