@include footer-is-fixed;

.footer {
  background-color: color($blue, lightest);
  padding: 6em 0;
  text-align: center;
}

.footer_content {
  background: color($blue, light, .2);
  border-radius: border-radius(s);
  color: color($blue, dark);
  display: inline-block;
  padding: .5em 10px;

  a {
    @include underline(color($blue, dark), color($blue, default, .25));

    color: inherit;
  }
}

.footer_background {
  @include cover();

  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: multiply;
  opacity: .15;
}
