.\$introduction {
  .header {
    height: 90vh;
  }

  .header_logos {
    opacity: 0;
  }
}

.header {
  @include mq(s) {
    height: auto !important;
    padding: 2.25em 0;
  }

  height: 30vh;
  min-height: 8em;
  transition: height .5s ease-out;

  .\$header-clear-animation & {
    transition: none !important;
  }
}

.header_background {
  @include mq(s) {
    video {
      display: none;
    }
  }

  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

  &:after {
    @include cover();

    content: ' ';
    transition: opacity 3s ease-out;
    z-index: 2;
  }
}

.header_arrow {
  @include mq(s) {
    display: none !important;
  }
  transition: all .3s linear;

  .\$header-clear-animation & {
    transition: none !important;
  }
}

.header_content {
  @include mq(s) {
    bottom: 0 !important;
    position: relative;
    text-align: center;
  }

  bottom: 3em;
  position: absolute;
  transition: bottom .3s ease-out;
  width: 100%;
  z-index: 3;
}

.header_title {
  @include mq(s) {
    font-size: 1.75em;
  }

  border-bottom-right-radius: border-radius(s);
  border-top-left-radius: border-radius(s);
  border-top-right-radius: border-radius(s);
  color: $white;
  display: inline-block;
  margin: 0 -10px;
  padding: 0 10px;
}

.header_title_version {
  @include mq(s) {
    font-size: font-size(xs);
  }

  color: color($orange);
  font-size: font-size(s);
  font-weight: font-weight(normal);
}

.header_slogan {
  @include mq(s) {
    font-size: font-size(s);
  }

  border-bottom-left-radius: border-radius(s);
  border-bottom-right-radius: border-radius(s);
  color: $white;
  display: inline-block;
  margin: 0 -10px;
  padding: .5em 10px;
}

.header_logos {
  @include mq(s) {
    margin-top: 1em;
    opacity: 1 !important;
    position: relative;
    text-align: center;
  }

  bottom: 0;
  opacity: 1;
  position: absolute;
  right: 2em;
  text-align: right;
  transition: opacity .1s .3s ease-out;

  a {
    display: inline-block;
    vertical-align: middle;
  }

  svg {
    display: block;
    height: 2em;
    margin-left: 1em;
    width: auto;
  }

  .spatie,
  .github {
    &:hover {
      opacity: .7;
    }
  }

  .spatie_back {
    fill: color($blue, dark);
  }

  .github_back {
    fill: $white;
  }
}
