.header {
  @include mq(s) {
    height: auto !important;
    padding: 2.25em 0;
  }

  height: 30vh;
  min-height: 10em;
  position: relative;
}

.header_background {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header_content {
  @include mq(s) {
    bottom: 0 !important;
    position: relative;
    text-align: center;
  }

  bottom: 3em;
  position: absolute;
  transition: bottom .3s ease-out;
  width: 100%;
  z-index: 3;
}


.header_caption {
  display: inline-block;
}

.header_caption_title {
  @include mq(s) {
    font-size: 1.65em;
  }

  border-bottom-right-radius: border-radius(s);
  border-top-left-radius: border-radius(s);
  border-top-right-radius: border-radius(s);
  color: $white;
  display: inline-block;
  margin: 0 -10px;
  padding: 0 10px;

  a {
    color: inherit;
  }
}

.header_version {
  @include mq(s) {
    font-size: font-size(xs);
  }

  color: color($orange);
  display: inline-block;
  font-size: font-size(s);
  font-weight: font-weight(bold);
  margin: .2em 0;

  &.-selectable {
    background-color: $white;
    border-radius: border-radius(s);
    color: color($orange);
    padding: 0 .45em 0 .25em;
  }
}

.header_version_caret {
  border-left: .15em solid transparent;
  border-right: .15em solid transparent;
  border-top: .2em solid color($orange, lighter);
  display: inline-block;
  height: 0;
  vertical-align: middle;
  width: 0;
}

.header_version_dropdown {
  @include mq(s) {
    font-size: 1.40em;
  }

  background: $white;
  border-radius: border-radius(s);
  box-shadow: 5px 5px 0 rgba($black, .1);
  font-size: 2.38em;
  list-style: none;
  overflow: hidden;
  padding-left: 0;
  position: absolute;
  right: .1em;
  top: .2em;
  z-index: z-index(above);

  li {
    padding: 0 1em 0 .25em;
    text-align: center;

    &.-current {
      font-weight: font-weight(bold);
    }

    &:hover {
      background: color($orange, lightest);
    }
  }

  a {
    color: color($orange);
  }
}


.header_caption_slogan {
  @include mq(s) {
    font-size: font-size(s);
  }

  border-bottom-left-radius: border-radius(s);
  border-bottom-right-radius: border-radius(s);
  color: $white;
  display: inline-block;
  margin: 0 -10px;
  padding: .5em 10px;
}

.header_logos {
  @include mq(s) {
    margin-top: 1em;
    opacity: 1 !important;
    position: relative;
    text-align: center;
  }

  bottom: 0;
  opacity: 1;
  position: absolute;
  right: 2em;
  text-align: right;
  transition: opacity .1s .3s ease-out;

  a {
    display: inline-block;
    vertical-align: middle;
  }

  svg {
    display: block;
    height: 2em;
    width: auto;

    & + & {
      margin-left: 1em;
    }
  }

  .spatie,
  .github {
    &:hover {
      opacity: .7;
    }
  }

  .spatie_back {
    fill: color($blue, dark);
  }

  .github_back {
    fill: $white;
  }
}
