* {
  box-sizing: border-box;
  position: relative;

  &:after,
  &:before {
    box-sizing: border-box;
    position: relative;
  }
}

html {
  height: 100%;
}

body {
  @include antialiasing(pixel);
  @include font(sans, normal);

  color: $text-color;
  line-height: $line-height;
}

h1,
h2,
h3 {
  text-rendering: optimizeLegibility;
}

h1 {
  @include font(sans, bold);
  @include font-size(xxl);
}

h2 {
  @include font(sans, bold);
  @include font-size(l);
}

h3 {
  @include font(sans, bold);

  margin-bottom: .5rem;

  & + p {
    margin-top: 0;
  }
}

h4 {
  @include font(sans, normal);

  margin: 0;
}

a {
  text-decoration: none;
}

p,
ul,
ol {
  line-height: $line-height;
  margin: 0;
  margin-bottom: gutter(s);

  p + & {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

strong,
b {
  font-weight: font-weight(bold);

  em,
  i,
  i &,
  em & {
    font-style: italic;
  }
}

ol,
ul {
  padding-left: 1.5em;

  & ul,
  & ol {
    margin-bottom: .5em;
  }
}

li {
  line-height: $line-height;
}

img,
object {
  max-width: 100%;
}

// Less used tags

abbr,
dfn {
  &[title] {
    border-bottom: 1px dotted color($gray);
    cursor: help;
  }
}

address {
  background: color($gray, light);
  display: inline-block;
  margin-bottom: 1.5em;
  padding: 1em;
}

blockquote {
  background: color($gold, lightest);
  border-left: 3px solid color($gold, lighter);
  color: color($gold, darker);
  display: block;
  font-size: 1.2em;
  margin: 2em 0;
  padding: 1em;

  p {
    margin: 0;
  }
}

blockquote,
q {
  quotes: none;

  &:before,
  &:after {
    content: '';
  }
}

code,
kbd,
samp,
var {
  @include font(fixed, normal);

  background: color($hl, back);
  border-radius: border-radius(s);
  box-shadow: inset 1px 1px 0 rgba($black, .05);
  color: color($hl, text);
  font-size: font-size(s);

  p & {
    display: inline-block;
    padding: .05em .5em;
    top: -.05em; //optical correction
    vertical-align: middle;
  }

  pre & {
    display: block;
    padding: 1em .5em !important;
    white-space: pre;
  }
}

del {
  text-decoration: line-through;
}

dt {
  font-weight: bold;
}

dd {
  border-bottom: dotted 1px color($gray, darkest);
  margin-bottom: .75em;
  padding-bottom: .75em;
}

em,
i,
q,
cite {
  font-style: italic;
}

ins,
mark {
  @include tag(color($yellow, darkest), color($yellow, lightest));

  text-decoration: none;
}

pre {
  margin: 1.5em 0;
  padding: 0;
}

sub,
sup {
  line-height: 0;
  vertical-align: baseline;
}

sub {
  top: .5ex;
}

sup {
  bottom: 1ex;
}
