.nav {
  @include mq(s) {
    background: color($gold, lightest);
    height: 100%;
    left: 100%;
    overflow-y: auto;
    padding: 2em;
    position: fixed;
    top: 0;
    transform: translateX(0);
    transition: transform .5s ease-in-out;
    width: 100%;
    z-index: z-index(toolbar);

    .\$nav-small & {
      box-shadow: 5px 0 rgba($black, .1);
      transform: translateX(-100%);
    }
  }
}

.nav_menu {
  margin-top: 2em;
  padding-right: gutter(l);
  text-align: left;

  ul {
    @include ul-clean;

    ul {
      border-left: solid 3px color($gold, lightest);
      padding-left: 1em;
    }
  }

  li {
    line-height: 1.35;
    padding: .2em 0;
  }

  h2 {
    color: color($gold, dark);
    font-size: font-size(m);
    line-height: 1.2;
    margin: 2em 0 .5em;
    padding-top: .2em;
  }

  a {
    @include tag(color($orange), transparent);

    &:hover {
      background-color: color($orange, lightest);
    }
  }

  .active {
    & > a {
      @include tag($white, color($orange));
    }
  }
}

.nav_search {
  border: solid 3px color($gold, lightest);
  border-radius: border-radius(s);
  margin-top: .5em;
  padding: .5em;
  transition: border-color .3s ease-out;
  width: 100%;

  &:focus {
    border-color: color($orange);
    outline: 0;
  }
}

@include prefixed-placeholder {
  color: color($gold, light, 1);
  transition: opacity .3s ease-out;
}

@include prefixed-placeholder(':focus') {
  color: color($gold, lightest);
}

.nav_button {
  @include font(sans, bold);

  box-shadow: 5px 5px 0 rgba($black, .1);
  cursor: pointer;
  font-size: .65em;
  height: 44px;
  line-height: 44px;
  overflow: hidden;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  transition: border-radius .3s linear, transform .3s linear;
  width: 44px;
  z-index: z-index(modal);

  &.-menu {
    @include mq(s) {
      display: block;
    }

    background: color($orange);
    border-radius: 100% 0 0 100%;
    color: color($orange, lightest);
    display: none;
    right: 0;
    top: 3.5em;

    &:after {
      content: 'menu';
    }

    .\$nav-small & {
      border-radius: 100%;
      transform: translateX(-10px);

      &:after {
        content: '\d7';
        font-size: 2em;
      }
    }
  }

  &.-bottom {
    background: color($blue);
    border-radius: 100% 100% 0 0;
    bottom: 0;
    color: color($blue, lightest);
    left: 50%;
    transform: translateX(-50%) translateY(100%);

    .\$viewport-ended & {
      transform: translateX(-50%) translateY(10%);
    }
  }
}
