@import "../_base/base";

.header {
  background-color: color($blue, darkest);
}

.header_background {
  background: url("/images/event-projector/header.jpg") center no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.header_caption_title,
.header_caption_slogan {
  background: color($blue, darkest, 0.35);
}

.scheme {
  margin: 4rem 0;
}

.scheme_figure {
  max-width: 640px;
  display: block;
  margin: 0 auto;
}

.scheme_caption {
  margin: 0.25rem 0;
  text-align: center;
  color: color($gold, dark);
}
