/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  background: color($hl, back);
  color: color($hl, text);
  display: block;
  overflow-x: auto;
  padding: .5em;
}

.hljs-comment,
.hljs-quote {
  color: color($hl, comment);
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: color($hl, text);
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: color($hl, number);
}

.hljs-string,
.hljs-doctag {
  color: color($hl, string);
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: color($hl, title);
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: color($hl, tag);
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: color($hl, link);
}

.hljs-symbol,
.hljs-bullet {
  color: color($hl, symbol);
}

.hljs-built_in,
.hljs-builtin-name {
  color: color($hl, builtin);
}

.hljs-meta {
  color: color($hl, comment);
  font-weight: bold;
}

.hljs-deletion {
  background: color($hl, deletion);
}

.hljs-addition {
  background: color($hl, addition);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
