.\$introduction {
  .header {
    height: 90vh;
  }

  .header_background:after {
    background: color($blue, darkest, .65);
  }

  .header_arrow {
    transform: translateX(-50%) translateY(20%) rotate(-45deg);
  }

  .header_logos {
    opacity: 0;
  }
}

.header {
  @include mq(s) {
    height: auto !important;
    padding: 2.25em 0;
  }

  background-color: color($blue, darkest);
  height: 30vh;
  min-height: 8em;
  transition: height .5s ease-out;

  .\$header-clear-animation & {
    transition: none !important;
  }
}

.header_background {
  @include mq(s) {
    video {
      display: none;
    }
  }

  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  &:after {
    @include cover();

    background: color($blue, darkest, .9);
    transition: background-color .4s ease-out;
    z-index: 2;
  }
}

.header_arrow {
  @include mq(s) {
    display: none;
  }

  background: color($blue, darkest);
  border-radius: 5px;
  bottom: 0;
  content: ' ';
  display: block;
  height: 44px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(20%) rotate(-45deg) scale(0) ;
  width: 44px;
  z-index: z-index(above);
}

.header_content {
  @include mq(s) {
    bottom: 0 !important;
    position: relative;
    text-align: center;
  }

  bottom: 3em;
  position: absolute;
  transition: bottom .3s ease-out;
  width: 100%;
  z-index: 3;
}

.header_title {
  @include mq(s) {
    font-size: 1.75em;
  }

  background: rgba($black, .1);
  border-bottom-right-radius: border-radius(s);
  border-top-left-radius: border-radius(s);
  border-top-right-radius: border-radius(s);
  color: $white;
  display: inline-block;
  margin: 0 -10px;
  padding: 0 10px;
}

.header_title_version {
  color: color($orange);
  font-size: font-size(s);
  font-weight: font-weight(normal);

  @include mq(s) {
    font-size: font-size(xs);
  }
}

.header_slogan {
  background: rgba($black, .1);
  border-bottom-left-radius: border-radius(s);
  border-bottom-right-radius: border-radius(s);
  color: $white;
  display: inline-block;
  margin: 0 -10px;
  padding: .5em 10px;

  @include mq(s) {
    font-size: font-size(s);
  }
}

.header_logos {
  @include mq(s) {
    margin-top: 1em;
    opacity: 1 !important;
    position: relative;
    text-align: center;
  }

  bottom: 0;
  opacity: 1;
  position: absolute;
  right: 2em;
  text-align: right;
  transition: opacity .1s .3s ease-out;

  a {
    display: inline-block;
    vertical-align: middle;
  }
}

.header_logo {
  display: block;
  height: 2em;
  margin-left: 1em;

  &:hover {
    opacity: .8;
  }
}
