.toolbar {
    position: absolute;
    top: 1.5em;
    right: 0;
    width: auto;
    text-align: right;
    font-size: font-size(xs);
}

.toolbar_item {
    @include tag(color($gold), color($gold, lighter, .2));
    line-height: 2;

    .github {
        margin-left: .25em;
        height: 1.35em;
        width: auto;
        vertical-align: middle;
    }

    .github_back {
        fill: color($gold, light);
    }

    &:hover {
        @include tag(color($gold, dark), color($gold, lighter, .5));

        & .github_back {
            fill: color($gold, dark, .8);
        }
    }
}