@import '../_base/base';

.header {
  overflow: hidden;
}

.header_background {
  background-color: color($blue, lighter);
}

.header_caption_title,
.header_caption_slogan {
  background: color($blue, darker, .2);
}
