@import "../_base/base";

.header {
  background-color: color($gold, light);
}

.header_background {
  background: url("/images/enum/header.jpg") center no-repeat;
  background-size: cover;
  opacity: 0.5;
}

.header_caption_title,
.header_caption_slogan {
  background: color($gold, darker, 0.2);
}
