@import '../_base/base';

.header {
  background-color: color($blue, darkest);
}

.header_background {
  background: color($blue, darkest) url('/images/server-monitor/header.jpg') center no-repeat;
  background-size: cover;
  opacity: .65;
}

.header_caption_title,
.header_caption_slogan {
  background: rgba($white, .85);
  color: color($blue, darkest);
}
